In [4]:
# Dependencies
import pandas as pd

In [5]:
# Read file
yearly_gross = pd.read_csv("dataset/yearly_gross.csv")
studio_gross = pd.read_csv("dataset/studio.csv")

In [9]:
merge_table = pd.merge(yearly_gross, studio_gross, on="Year")
merge_table.head(15)

    Year  Total_Yearly_Gross Studio  Studio_Gross
0   1990          4201762579     BV     683431384
1   1990          4201762579    Fox     668375058
2   1990          4201762579  Gold.      14560247
3   1990          4201762579    MGM      61264584
4   1990          4201762579  Mira.      25437170
5   1990          4201762579     NL     173193300
6   1990          4201762579  Orion     361466795
7   1990          4201762579   Par.     648684055
8   1990          4201762579   Sony     391166363
9   1990          4201762579   TriS     164690048
10  1990          4201762579   Triu      55675288
11  1990          4201762579     UA      40946358
12  1990          4201762579   Uni.     501300428
13  1990          4201762579     WB     411571501
14  1991          4013340886     BV     639516948

In [16]:
merge_table["Market_Share"] = df.apply(lambda x:)
merge_table

     Year  Total_Yearly_Gross  Studio  Studio_Gross Market_Share
0    1990          4201762579      BV     683431384         None
1    1990          4201762579     Fox     668375058         None
2    1990          4201762579   Gold.      14560247         None
3    1990          4201762579     MGM      61264584         None
4    1990          4201762579   Mira.      25437170         None
5    1990          4201762579      NL     173193300         None
6    1990          4201762579   Orion     361466795         None
7    1990          4201762579    Par.     648684055         None
8    1990          4201762579    Sony     391166363         None
9    1990          4201762579    TriS     164690048         None
10   1990          4201762579    Triu      55675288         None
11   1990          4201762579      UA      40946358         None
12   1990          4201762579    Uni.     501300428         None
13   1990          4201762579      WB     411571501         None
14   1991          4013340886      BV     639516948         None
15   1991          4013340886     Fox     371086735         None
16   1991          4013340886    Istr      15556340         None
17   1991          4013340886     MGM      71661059         None
18   1991          4013340886   Mira.      25451439         None
19   1991          4013340886      NL     146845818         None
20   1991          4013340886   Orion     214873496         None
21   1991          4013340886    Par.     514002708         None
22   1991          4013340886    Sony     373854819         None
23   1991          4013340886    TriS     511078671         None
24   1991          4013340886    Uni.     526778618         None
25   1991          4013340886      WB     602634235         None
26   1992          4338501242      BV     853296658         None
27   1992          4338501242     Fox     653671054         None
28   1992          4338501242   Gold.      11657385         None
29   1992          4338501242     MGM      33775364         None
..    ...                 ...     ...           ...          ...
416  2016         10381917742     ORF      32492859         None
417  2016         10381917742    Par.     760270775         None
418  2016         10381917742   RAtt.      47695371         None
419  2016         10381917742    SGem     118965478         None
420  2016         10381917742     STX     149076853         None
421  2016         10381917742    Sony     688257417         None
422  2016         10381917742    TriS     102717198         None
423  2016         10381917742    Uni.    1476875973         None
424  2016         10381917742      WB    1864760900         None
425  2016         10381917742   Wein.      51738905         None
426  2017         10270776924     A24      70078889         None
427  2017         10270776924  Aviron      30718107         None
428  2017         10270776924     BST      27780977         None
429  2017         10270776924      BV    2364252943         None
430  2017         10270776924   ENTMP      74126306         None
431  2017         10270776924   Focus     130401350         None
432  2017         10270776924     Fox    1459132547         None
433  2017         10270776924    LG/S     269806487         None
434  2017         10270776924     LGF     404167571         None
435  2017         10270776924    Neon      30014539         None
436  2017         10270776924     ORF      55390806         None
437  2017         10270776924     PNT      32149404         None
438  2017         10270776924    Par.     463333220         None
439  2017         10270776924    SGem      57184041         None
440  2017         10270776924     STX     198870204         None
441  2017         10270776924    Sony    1013720229         None
442  2017         10270776924    TriS     132939569         None
443  2017         10270776924    Uni.    1436918270         None
444  2017         10270776924      WB    1964132536         None
445  2017         10270776924   Wein.      55658929         None

[446 rows x 5 columns]